/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

/* General style and design to be incorporated at every size */
* {
    /* Help me to see where the boxes are as i position them */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: white;
    scroll-behavior: smooth;
}
body{
    /* Source for how I got the page to split https://blog.prototypr.io/css-only-multi-color-backgrounds-4d96a5569a20 */
    background:
    url('/Users/robertlopez/Desktop/Project 1/project-1-portfolio/Background2.webp');
}

nav ul {
    font-family: 'Roboto Mono', monospace;
    list-style: none;
    display: flex;
    color: white;
    text-decoration: none;
    width:100%;
 }
  
 /* Nav element settings */
 nav ul li {
    padding: 1em;
    font-size: 10px;
    color: white;
    text-decoration: none;
  }
.checkbox{opacity: 0;}
section {
    padding: 1em;
    line-height: 1;
    text-align:left;
    margin:1;
}
#MainTitle{
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    margin: 0;
    padding: 0;
}
#slim-shady{
    color:orange;
    font-size: 12px;
    margin: 0.1;
    padding: 0;
}
#title-subtext{
    color:orange;
    font-size: 14px;
    margin: 0.1;
    padding: 0;
}
h2 {
    color:orange;
    font-size: 22px;
    font-style: oblique;
    margin: 0;
    padding: 0;
}
#about, #projects, #contact {
    line-height:2;
}
.link-element{
    list-style: none;
    display: flex;
}
a {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover{color:orange;}

/* MOBILE  */
/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {

    #footer {
        padding: 5em 2em;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    ul li{
        display:block;
        width:100%;
        box-sizing: border-box;
        border-top: 1px;
     }

     nav label {
        display:inline-block;
        font-size: 1.2em;
        padding:10px;
        background:none;
        color: #fff;
        font-style:normal;
        content:"";
     }

     ul li {display: none}

     nav input:checked ~ ul li {display: block}


     /* Nav element settings */
     /* nav ul li {
        display: none;
      } */

    .container {
        display:grid;
        grid-template-columns: 1fr;
        /* Rows: 1   2   3; */
        grid-template-rows: auto 1fr auto;
        grid-gap: 10px;
    }
    .main-content {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6fr;
        /* grid-template-rows: repeat(3, 1fr); */
    }
    .main-content .home {
        grid-column: 1;
		grid-row: 1/2 ;
    }
    .main-content .about {
        grid-column: 1;
		grid-row: 2/3 ;
    }
    .main-content .projects {
        grid-column: 1;
		grid-row: 3/4 ;
    }
    .main-content .contact {
        grid-column: 1;
		grid-row: 4/5 ;
    }
    .container .footer {
        grid-column: 1;
		grid-row: 5/6;
    }

}

/* TABLET */
  /* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 577px max-width: 768px) {
    /* .logo {
        display: flex;
        opacity: 20%;
        float:right;
    } */

    nav ul {
        font-family: 'Roboto Mono', monospace;
        list-style: none;
        display: flex;
        color: white;
        text-decoration: none;
        float: right;
    }

    body{
        padding: 1em;
    }
    
    #slim-shady{
        color:orange;
        font-size: 100px;
        margin: 0.1;
        padding: 0;
    }
    .container {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 8fr;
        grid-gap: 10px;
    }
    .main-content {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6fr;
    }
    .container .header{
        grid-column: 1;
    }
    .main-content .home {
        grid-column: 1;
		grid-row: 1/2 ;
    }
    .main-content .about {
        grid-column: 1;
		grid-row: 2/3 ;
    }
    .main-content .projects {
        grid-column: 1;
		grid-row: 3/4 ;
    }
    .main-content .contact {
        grid-column: 1;
		grid-row: 4/5 ;
    }

    .container .footer {
        grid-column: 1;
		grid-row: 5/6;
    }
    
}
/* DeskTop */
  /* Large devices (tablets, 1024 and up) */
  @media screen and (min-width: 769px) {
    button{
        display: none;
    }
    body {
        padding: 1em;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    nav ul {
        font-family: 'Roboto Mono', monospace;
        list-style: none;
        display: flex;
        color: white;
        text-decoration: none;
        float: right;
    }
    .container {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        grid-gap: 5em;
    }
    .main-content {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6fr;
        grid-gap: 8em;
    }
    /* .container .header{
        grid-column: 1;
        grid-row: 1/2 ;

    } */
    .main-content .home {
        grid-column: 1;
		grid-row: 1/2 ;
    }
    .main-content .about {
        grid-column: 1;
		grid-row: 2/3 ;
    }
    .main-content .projects {
        grid-column: 1;
		grid-row: 3/4 ;
    }
    .main-content .contact {
        grid-column: 1;
		grid-row: 4/5 ;
    }
    .container .footer {
        grid-column: 1;
		grid-row: 3/4
    }
}
