* {
    scroll-behavior: smooth;
}

/* For any viewports less than 1000px wide */



body{
    /* Source for how I got the page to split https://blog.prototypr.io/css-only-multi-color-backgrounds-4d96a5569a20 */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: white;
    scroll-behavior: smooth;
    background: linear-gradient(110deg, #1f1f1f 48.6%, #363636 48.6%);
    /* background-size:cover; */
    /* original image background */
    /* background: */
    /* url('/Users/robertlopez/Desktop/Project 1/project-1-portfolio/Background2.webp'); */
}

/* settings for the tab fonts */
nav ul {
    font-family: 'Roboto Mono', monospace;
    list-style: none;
    display: flex;
 }

 /* Nav element placement settings */
li {
    padding-left: 1em;
    font-size: 16px;
  }

/* Had to hide the textbox for the hamburger menu */
.checkbox{opacity: 0;}

section {
    padding: 1em;
    line-height: 1;
    text-align:left;
    /* margin:1; */
}
canvas{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#MainTitle{
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    margin: 0;
    padding: 0;
}
#slim-shady{
    color:gold;
    font-size: 12px;
    margin: 0.1;
    padding: 0;
}
#title-subtext{
    color:gold;
    font-size: 14px;
    margin: 0.1;
    padding: 0;
}
h2 {
    color:gold;
    font-size: 22px;
    font-style: oblique;
    margin: 0;
    padding: 0;
}
h3, h4 {
    color:gray;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
#about, #projects, #contact {
    line-height:2;
}
 /* align images horisontally for contact */
 li.link-element {
    display:inline-block;
    padding-left:30px;
    position:center;
    }

#footer {
    padding: 5em 2em;
    text-align: center;
    color: gray;
    margin: 0;
    padding: 0;
}
a {text-decoration: none; color: white;}
a:visited {text-decoration: none;color: white;}
a:hover{color:gold;}



/* --------------------------------------------------------------------MOBILE --------------------------------------------------------------------*/
/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
    canvas{
        display: none;
    }
     
     ul li {display: none}
     nav input:checked ~ ul li {display: inline-block}

    .container {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-gap: 10px;
    }
    .main-content {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6fr;
    }
    .main-content .home {
        padding-top:70px;
        grid-column: 1;
		grid-row: 1/2 ;
    }
    .main-content .about {
        grid-column: 1;
		grid-row: 2/3 ;
    }
    .main-content .projects {
        grid-column: 1;
		grid-row: 3/4 ;
    }
    .main-content .contact {
        grid-column: 1;
		grid-row: 4/5 ;
    }
    .container .footer {
        grid-column: 1;
		grid-row: 5/6;
    }
}

/* --------------------------------------------------------------------TABLET-------------------------------------------------------------------- */
  /* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {

     ul li {display: none}
     nav input:checked ~ ul li {display: inline-block}
    
    body{padding: 2em;}

    .container {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
    }
    .main-content {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 7fr;
    }
    .container .header{
        grid-column: 1;
        grid-row: 1;
    }
    .main-content .canvas{
        grid-column: 1;
        grid-row: 2;
    }
    .main-content .home {
        grid-column: 1;
		grid-row: 3;
    }
    .main-content .about {
        padding-top:100px;

        grid-column: 1;
		grid-row: 4 ;
    }
    .main-content .projects {
        padding-top:100px;

        grid-column: 1;
		grid-row: 5;
    }
    .main-content .contact {
        padding-top:100px;

        grid-column: 1;
		grid-row: 6;
    }
    .main-content .footer {
        grid-column: 1;
		grid-row: 7;
    }
}
/* --------------------------------------------------------------------DeskTop-------------------------------------------------------------------- */
  /* Large devices (tablets, 1024 and up) */
  @media screen and (min-width: 769px) {
    label{
        display:none;
    }

    /* use this one to move the nav container around */
    .nav-container{
        position:absolute;
        right:0px; 
        top:0px;   
    }

    /* Adjust the contents of the main title/subtitle */
    #MainTitle{
        font-size: 60px;
    }
    #slim-shady{
        font-size: 15px;
    }
    #title-subtext{
        font-size: 19px;
    }
    #home{
        padding-top:70px;
        padding-left:0px;
        padding-right:0px;
        padding-bottom:0px;
    }
    h2 {
        font-size: 32px;
    }
    html{
        margin: 0 auto;
    }
    body {
        font-size: 20px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        /* Link below to how i solved my background sizing issues */
        /* https://stackoverflow.com/questions/16679221/how-to-set-a-minimum-width-with-background-size/16679437        width: auto; Scale the div to the parent width */
        height: 2000px; /* The div needs some height to be visible */
        background-size: 100%; /* Always size the image to the width of the div */
        background-position: top; /* Position the image to the top center of the div */
        background-size: 1500px 2200px; /* Force the image to its minimum width */    
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        padding-bottom:100px;
    }
    .main-content {
        padding-top:250px;
        width:810px;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 6fr;
        grid-gap: 0em;
    }
    .container .header{
        grid-column: 1;
        grid-row: 1;
    }
    .main-content .canvas{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .main-content .home {
        grid-column: 1/2;
		grid-row: 1/2 ;
    }
    .main-content .about {
        padding-top:250px;
        grid-column: 1/3;
		grid-row: 2/3 ;
    }
    .main-content .projects {
        padding-top:200px;

        grid-column: 1/3;
		grid-row: 3/4 ;
    }
    .main-content .contact {
        padding-top:200px;

        grid-column: 1/3;
		grid-row: 4/5 ;
    }
    .container .footer {
        padding-top:200px;
        grid-column: 1;
		grid-row: 3/4
    }
}